<!DOCTYPE html>
<html>
<head>
    <title>Prédiction des tweets</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<section>
    <h1>Prédiction de sentiment de tweet</h1>

    {% if feedback %}
        <article id="feedback">        
            <p>{{ feedback[0] }}</p>
            <p>{{ feedback[1] }}</p>
        </article>
    {% endif %}
    
    <article>
        <form id="form_submit" method="POST" action="/">
            <span id="error">
                {% if error %}
                    {{ error }}
                {% endif %}
            </span>
            <textarea id="form_text" name="input_text" placeholder="Entrez votre tweet ici...">{% if original_message %}{{ original_message }}{% endif %}</textarea>
            <input type="submit" value="Submit">
        </form>
    </article>    

    {% if prediction_text %}
        <article id="answer">
            <p class="reponse">{{ prediction_text }}</p>
            <div class="line"></div>
            <p>La prédiction est-elle correcte ?</p>
            <form id="confirm_form" method="POST" action="/">
                <input type="hidden" id="original_message" name="original_message" value="{{ original_message }}">
                <input type="hidden" id="prediction" name="prediction" value="{{ prediction }}">
                <button type="submit" name="is_correct" value=1>Oui</button>
                <button type="submit" name="is_correct" value=0>Non</button>
            </form>
        </article>
    {% endif %}

</section>  

<p class="mentions">Créé par julien Gatineau pour le projet 7 de la Formation Ingénieur IA d'OpenClassroom</p>

<script>
document.getElementById("form_text").addEventListener("keypress", function(event) {
    if (event.keyCode == 13) {
        event.preventDefault();
        document.getElementById("form_submit").submit();
    }
});


</script>
</body>
</html>